*{
    margin: 0;
    padding: 0;
}

.bgcolor{
    background-color: black;
    height: 1000vh;
    width: 90vw;
}

.navbar{
    display: flex;
    justify-content:space-between;
    /* background-color: yellowgreen; */
    /* border: 1px solid red; */
}

.navbar ul li{
    display: inline-block;
    justify-content: space-evenly;
    margin: 20px;
}

#head1{
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}

.navbar ul li a{
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}

#anc:hover{
    transform: scale(1.8);
}

.home{
    /* border: 1px solid blue; */
    margin-top: 200px;
    height: 500px;
    width: 98%;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
}

.info{
    height: 500px;
    width: 500px;
    /* border: 2px dotted violet; */
    margin-left: 30px;
    color: aliceblue;
}

#head2{
    font-size: 90px;
}

#para1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 18px;
}

#btn{
    height: 50px;
    width: 100px;
    background-color: skyblue;
    border-radius: 10px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

#img1{
    height: 400px;
    width: 400px;
    margin-top: 10px;
    border-radius: 20px;
}

.abt{
    height: 500px;
    width: 90%;
    /* border: 2px dotted red; */
    color: azure;
    margin-top: 150px;
    margin-left: 20px;
    /* background-color: rgba(59,130,246,.5);; */
}

#head3{
    margin-top: 300px;
    margin-left: 200px;
}

#para2{
    /* margin-bottom: ; */
    margin-top: 60px;
    margin-left: 200px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 19px;
    padding-right: 10px;
}

.port{
    height: 800px;
    width: 95%;
    /* border: 1px dotted darkmagenta; */
    color: aliceblue;
    padding-left: 220px;
    margin-top: 100px;
}

#head4{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 18px;
}

.box{
    height: 250px;
    width: 300px;
    border: 1px solid grey;
    /* box-shadow: 1px 1px 1px 1px  rgba(165, 165, 251); */
    box-shadow:  0 2px 4px -1px skyblue ;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    
}

.disp{
    height:700px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    
    /* justify-content: space-evenly; */
}

.images{
    height:180px;
    width: 330px;
    right: 13px;
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 10px;
    top: -12px;
}

.images:hover{
    transform:scale(1.1);
}

.demo{
    display: inline;
    margin-left: 50px;
    color: azure;
    font-size: 20px;
    /* z-index: -1; */
    text-decoration: none;
    margin-top: 90px;
    /* position: relative; */
    padding: 17px;
}

#head5{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 18px;
    margin-left: 200px;
}

#head6{
    color: azure ;
    margin-top: 190px;
    margin-left: 200px;
}

.box1{
    height: 100px;
    width: 290px;
    border: 1px solid gray;
    box-shadow: 0 -2px 0 #fff, 0 1px 1px rgba(0,0,0,.35);
    /* box-shadow: 0 5px 5px -5px #333,-5px 0 5px -5px #333, 0 5px -5px #333; */
    margin: 20px;
    border-radius: 20px;
    padding-top: 90px;
    margin-left: 100px;
    /* padding: 20px; */
    /* display: flex; */
}

.box1:hover{
    transform: scale(1.1);
}

.disp1{
    /* display: flex; */
    height:700px;
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}

#logo2{
    height: 120px;
    width: 120px;
    margin-left: 80px;
    margin-top: -80px;
}

#head7{
    color: white;
    margin-left:110px;
    margin-top: 30px;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}

#box-1{
    box-shadow: 1px 1px 1px 1px  orange;
}
#box-2{
    box-shadow: 1px 1px 1px 1px skyblue;
}
#box-3{
    box-shadow: 1px 1px 1px 1px yellow;
}
#box-4{
    box-shadow: 1px 1px 1px 1px aqua;
}
#box-5{
    box-shadow: 1px 1px 1px 1px royalblue;
}
#box-6{
    box-shadow: 1px 1px 1px 1px pink;
}
#box-7{
    box-shadow: 1px 1px 1px 1px white;
}
#box-8{
    box-shadow: 1px 1px 1px 1px green;
}

#form1{
    /* background-color: initial;
    border: 1px solid gray;
    margin-left: 100px;
    margin-top: 40px;
    height: 20px;
    width: 20px; */
    /* opacity: ; */
     /* background: rgba(255,255,255,0.4);
     /* border: none; */
     /* position: relative; */
     /* display: block;
     outline: none;
     width: 400px;
     height: 30p;
     top: 250px;
     margin: 0 auto;
     padding: 10px;
    color: #333;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
     box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);  */
}


.myform{
    margin-left: 600px;
    margin-top: 100px;
    height: 900px;
    width: 500px;
    /* border: 1px solid blue; */
    background-color: initial;
    align-content: center;
}

#head8{
    /* margin-left: 200px; */
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 18px;
    margin-left: 200px;
}

#head9{
    color: azure ;
    margin-top: 20px;
    margin-left: 200px;
}

#input{
    height: 40px;
    width: 500px;
    border-radius: 10px;
    /* text-align: center; */
    background-color: transparent;
    border: 2px solid white;
    font-size: 20px;
    padding-left: 10px;
}

#button1{
    height: 50px;
    width: 90px;
    text-align: center;
    border-radius: 8px;
    background-color: #06b6d4;
    color: azure;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 200px;
    margin-top: 40px;
}


#button1:hover{
 transform: scale(1.1);
}